body {
    margin: 0;
    background: #f3f3f3;
}

.app {
    width: 100vh;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calc {
    width: 380px;
    background: #171717;
    padding: 15px;

    &__display {
        background:#
    }
}

